.app-head{
  min-width:1260px;
  height: 323px;
  background: url(./../../img/head_bg.jpg) no-repeat;
  background-size:cover;
  color:#fff;
  .title{
    float: left;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    margin: 15px 0px 0px 15px;
    display: inline-block;
  }
  .name{
      float: left;
      margin: 22px 0px 0px 15px;
      display: inline-block;
      font-size: 12px;
      border: 1px solid;
      border-radius: 10px;
      padding: 1px 10px;
      color: #c5c2c2;
  }
  .home,.blog,.jianshu{
    float: right;
    cursor: pointer;
    margin: 15px 25px 0px 0px;
    letter-spacing: 2px;
    &:visited, &:link, &:active{
      color:#fff;
      text-decoration: none;
    }
    &:hover{
      color:#469AE0;
      border-bottom: 3px solid #469AE0;
    }
  }
}