.app-circle{
    .demo-container{
        width: 300px;
        height: 300px;
        border: 1px solid #666;
        float:left;
        margin-right:90px;
        .demo{
            width: 100px;
            height: 100px;
            float: left;
            margin: 50px 20px 0px 22px;
            transform: rotate(-90deg);
        }
        .button{
            position: relative;
            top: 90px;
            left: 122px;
            width: 60px;
            height: 30px;
            border: none;
            border-radius: 5px;
        }
    }
}